[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task - disabled since this isn't a GUI project
dotnet_diagnostic.CA2007.severity = none

# SA1101: Prefix local calls with this - to keep code concise, we don't require this at this time
dotnet_diagnostic.SA1101.severity = none

# SA1309: Field names should not begin with underscore - The current style is to prefix private elements with an _
dotnet_diagnostic.SA1309.severity = none
