name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:   
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.2.108
      - name: Build solution with dotnet
        run: dotnet build --configuration Release
